
@font-face {
  font-family: 'WPDOMINOnovel';
  src: url('WPDOMINOnovel.eot?#iefix') format('embedded-opentype'),  url('WPDOMINOnovel.woff') format('woff'), url('WPDOMINOnovel.ttf')  format('truetype'), url('WPDOMINOnovel.svg#WPDOMINOnovel') format('svg');
  font-weight: normal;
  font-style: normal;
}
